body {
    display: flex;
    flex-direction: column;
    /* font-family: Helvetica, Arial, serif; */
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.head {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

    .header {
        display: flex;
        margin: 20px 260px 0 260px;
        align-items: center;
    }

        #logo {
            width: 140px;
            flex: 1;
            margin-right: auto;
            }

        #img-logo {
            width: 250px;
        }

        .sns {
            width: 30px;
            align-self: center;
            margin-right: -8px;
        }

        .header ul {
            display: flex;
            font-size: 18px;
            color:white;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 12px;
            align-items: center;
        }

        .header li {
            align-self: center;
        }

        a {
            text-decoration: none;
            align-self: center;  
        }

        a:visited {
            text-decoration: none;
            color: inherit;
        }

    .head-content {
        display: flex;
        justify-content: space-between;
        margin: 100px 260px 50px 260px;
    }

        .hero-text {
            color: white;
            font-size: 72px;
            font-weight: bold;
        }

        .hero-img {
            width:700px;
            margin-left: 50px;
        }

        .hero-subtext {
            color: #F0F8FF;
            font-size: 20px;
        }

        /* .head-content ul {
            color: #F0F8FF;
            font-size: 20px;
            list-style: none;
            margin: 0;
            padding: 0;
        } */

        .head-content li {
            margin: 5px 0 5px 10px;
        }

        .small-text {
            font-size: 20px;
            color: lightslategray;
        }

        .button {
            background-color: black;
            color: #F0F8FF;
            border: none;
            font-family: 'Times New Roman', Times, serif;
            margin-top: 20px;
            padding: 8px;
            font-size: 24px;
            border-radius: 10px;
            

        }

.members-section {
    background-color: black;
    height: auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
} 

    .title {
        margin: 50px 0 50px 0;;
        text-align: center;
        color: grey;
        font-size: 48px;
        font-weight: bold;
    }

    .members {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
        gap: 50px;
        flex-wrap: wrap;
        margin-bottom: 148px;
    }

    .member-div {
        width: 500px;
        flex: 0 1 auto;
    }

    .member-div a {
        width: inherit;
        height: inherit;
    }

    .member-img {
        border: 2px solid white;
        width: inherit;
    }

    .member-text {
        /* text-align: center; */
        margin-top: 4px;
        color: white;
        font-size: 20px;
    }

.quote {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
}

    .quote-text {
        text-align: center;
        color: black;
        width: 1100px;
        font-size: 40px;
        font-style: italic;
        margin: 0 340px;
    }

    .author {
        margin-top: 20px;
        text-align: right;
        font-size: 30px;
    }

.call {
    display: flex;
    background-color: #1f2937;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}
    .call-to-arms {
        display: flex;
        font-size: 20px;
        color: white;
        padding: 50px;
        /* background-color: lightslategray; */
        border-radius: 16px;
        justify-content: center;
        align-items: center;
    }

    .reddit {
        color: white;
        background-color: black;
        margin-left: 20px;
        padding: 10px 15px;
        border-radius: 10px;
    }