body {
    display: flex;
    flex-direction: column;
    /* font-family: Helvetica, Arial, serif; */
    box-sizing: border-box;

}

.head {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    margin: 20px 260px 0 260px;
    align-items: center;
}

        #logo {
            width: 140px;
            flex: 1;
            margin-right: auto;
        }

        #img-logo {
            width: 250px;
        }

        .sns {
            width: 30px;
            align-self: center;
            margin-right: -8px;
        }

        .header ul {
            display: flex;
            font-size: 18px;
            color:white;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 12px;
            align-items: center;
        }

        .header li {
            align-self: center;
        }

        a {
            text-decoration: none;
            align-self: center;  
        }

        a:visited {
            text-decoration: none;
            color: inherit;
        }

.head-content {
    display: flex;
    justify-content: space-between;
    margin: 100px 260px 0 260px;
}

        .hero-text {
            color: white;
            font-size: 72px;
            font-weight: bold;
        }

        .hero-img {
            width:700px;
        }

        .hero-subtext {
            color: whitesmoke;
            font-size: 20px;
        }

        .head-content ul {
            /* text-align: center; */
            color: whitesmoke;
            font-size: 20px;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .head-content li {
            margin: 5px 0 5px 10px;
        }

        .small-text {
            font-size: 14px;
            color: lightslategray;
        }

.members {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 



